<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
    <userSettings>
        <My.MySettings>
            <setting name="DefaultWidth" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="DefaultHeight" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="MyTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyWidth" serializeAs="String">
                <value>797</value>
            </setting>
            <setting name="MyHeight" serializeAs="String">
                <value>614</value>
            </setting>
            <setting name="DefaultColourDepth" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="UseIndexedColours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMultiByteChars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseGRC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JavaCommand" serializeAs="String">
                <value>java.exe -jar</value>
            </setting>
            <setting name="DefaultCompiler" serializeAs="String">
                <value>C32</value>
            </setting>
            <setting name="SettingsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MalPath" serializeAs="String">
                <value>xxx</value>
            </setting>
            <setting name="MplabXWizardDevBoard" serializeAs="String">
                <value />
            </setting>
            <setting name="MplabXWizardExpBoard" serializeAs="String">
                <value />
            </setting>
            <setting name="BmpChooserTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BmpChooserLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BmpChooserHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BmpChooserWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MplabXWizardDispBoard" serializeAs="String">
                <value />
            </setting>
            <setting name="MplabXWizardDispOrientation" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="MagnifyWindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="MagnifyWindowSize" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="MagnifyWindowZoomFactor" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DemoExtractFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MyWindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="CopyBitmapsInVgddProjectFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectUseBmpPrefix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyPropertySort" serializeAs="String">
                <value>Alphabetical</value>
            </setting>
            <setting name="MyUserTemplatesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MyMakeBackups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyStoreLayout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiLanguageTranslations" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MplabXIpcIpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="MplabXIpcPort" serializeAs="String">
                <value>4242</value>
            </setting>
            <setting name="MplabXUseIpc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSchemeXML" serializeAs="String">
                <value>&lt;Scheme Name="Default" Font="GentiumBasicRegular11" BackgroundType="GFX_BACKGROUND_COLOR" FillStyle="GFX_FILL_STYLE_COLOR" CommonBkLeft="0" CommonBkTop="0" BackgroundImageName="" AlphaValue="0" EmbossSize="3"&gt;
  &lt;Color0&gt;192,255,255&lt;/Color0&gt;
  &lt;Color1&gt;128,128,255&lt;/Color1&gt;
  &lt;Colordisabled&gt;208,224,240&lt;/Colordisabled&gt;
  &lt;Commonbkcolor&gt;255,255,255&lt;/Commonbkcolor&gt;
  &lt;Embossdkcolor&gt;0,0,255&lt;/Embossdkcolor&gt;
  &lt;Embossltcolor&gt;192,192,255&lt;/Embossltcolor&gt;
  &lt;Textcolor0&gt;24,24,24&lt;/Textcolor0&gt;
  &lt;Textcolor1&gt;248,252,248&lt;/Textcolor1&gt;
  &lt;Textcolordisabled&gt;128,128,128&lt;/Textcolordisabled&gt;
  &lt;gradientStartColor&gt;211,211,211&lt;/gradientStartColor&gt;
  &lt;gradientEndColor&gt;169,169,169&lt;/gradientEndColor&gt;
&lt;/Scheme&gt;</value>
            </setting>
            <setting name="FallbackGRCPath" serializeAs="String">
                <value>grc.jar</value>
            </setting>
        </My.MySettings>
    </userSettings>
    <system.net>
        <settings>
            <servicePointManager expect100Continue="false"/>
        </settings>
    </system.net>
</configuration>
